NEXT_PUBLIC_SUPABASE_URL=https://xswqxbglozbtpgbsidsn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhzd3F4Ymdsb3pidHBnYnNpZHNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNzkwNDUsImV4cCI6MjEwMTk1NTA0NX0.N281pHtOWNwNf5PsfHyXLFEKhhs1rgqnaXZ6K2uLsdA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhzd3F4Ymdsb3pidHBnYnNpZHNuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjM3OTA0NSwiZXhwIjoyMTAxOTU1MDQ1fQ.NMvZxYyErpkENTPFHz8RMn9ul3OzDThXnGK0aU1hQPc
SUPABASE_STORAGE_BUCKET=comic-vault
NEXT_PUBLIC_API_URL=https://ais-dev-hkw55df4jp43rl7wxo6dze-69773141109.europe-west3.run.app
